<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Uply" Language="1046" Version="1.0.0.0" Manufacturer="medeiros" UpgradeCode="440cff18-6a18-45fe-8c41-5579a6e70c4b">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

    <MediaTemplate />

    <UIRef Id="WixUI_InstallDir" />

    <WixVariable Id="WixUILicenseRtf" Value="src-tauri\wix\license.rtf" />
  </Product>
</Wix>
