@import "tailwindcss";

* {
  outline: none;
  user-select: none;
}

.scroll-clean::-webkit-scrollbar {
  width: 3px;
}

.scroll-clean::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-clean::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 2%;
}

.scroll-clean::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}