@import "tailwindcss";

* {
  outline: none;
  user-select: none;
}

html, body {
  background: transparent !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  background: transparent !important;
  width: 100%;
  height: 100%;
}

.scroll-clean::-webkit-scrollbar {
  width: 3px;
}

.scroll-clean::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-clean::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 2%;
}

.scroll-clean::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}